body{
    margin: 0;
    background: #a8d8ff;
    font-family: sans-serif;
}
h1, h2{
    margin: 5vh 10vw;
    color: #fff
}
.task_container::-webkit-scrollbar{
    width: 5px;
}
.task_container::-webkit-scrollbar-thumb{
    background: #005eac;
    border-radius: 5px;
}
.task_container{
    height: 84vh;
    overflow-y: auto;
}
.tasks_list{
    width: 90%;
    margin: auto;
}
.todo_elem{
    width: 75vw;
    height: 9vh;
    line-height: 9vh;
    margin: 3vh auto;
    border-radius: 10px;
    background: #fff;
}
.todo_task{
    margin: 0 1vw;
    font-size: 16pt;
}
.todo_switch{
    position: relative;
    width: 5vh;
    height: 5vh;
    margin: 2vh 2vh;
    border-radius: 3vh;
    float: left;
    background: #7e7e7e;
}
.todo_switch:before{
    content: "";
    position: absolute;
    top: 0.75vh;
    left: 0.75vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 2vh;
    background: white;
}
.checked{
    content: url(../svg/check.svg);
    width: 5vh;
    height: 5vh;
    outline: none;
}
.solved{
    text-decoration: line-through;
    color: #7e7e7e
}


.todo_task_creater_container{
    position: fixed;
    bottom: 0;
    background: #a8d8ff;
    width: 100%;
    height: 16vh;
}
#todo_task_creater{
    position: absolute;
    width: 75vw;
    height: 9vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    background: #fffa;
    border-radius: 10px;
}
#todo_task_creater:hover{
    background: #fff
}
#task_create{
    content: url(../svg/blurPlus.svg);
    width: 3vh;
    height: 3vh;
    margin: 3vh;
    float: left;
}
#task_create:hover{
    content: url(../svg/hoverPlus.svg);
}
#task_inp{
    display: block;
    width: 66vw;
    height: 9vh;
    line-height: 9vh;
    border-radius: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 16pt
}
#task_inp::placeholder{
    border: none;
    font-family: sans-serif;
    font-size: 16pt;
    color: #000
}